h1,h2,h3{
  color: white;
  font-size: 34px;
  background-color: #049B81;
  width: 500px;
  text-indent: 10px;

}

ul{
font-size: 29px;
}
p {
  font-family: Helvetica, Verdana, Arial, "san serif";
  padding: 25px;
  font-size: 27px;

}

h1 {font-size: 34px;}
h2 {font-size: 34px;}
h3 {font-size: 34px;}

#content {
  background-color: #049B81;
  width: 500px;
  min-height: 300px;
  border: dotted 3px #F28A0C;
  font-size: 20px;

}
body {
  background-color: lightblue;
}
.box-1 {
  width: 80%
  margin:45px;
}

.container {

}
