h1, h2, h3 {
  font-size: 34px;

}
p{
  font-size: 24px;

}
.container {
 color: darkpurple;
 font-size: 170%;
 background-color: #049B81;
 width: 500px;
 text-indent: 10px;
 margin: auto;
 width: 80%;


}
body{
  background-color: lightgreen

}
