h1,h2{
  color: white;
  background-color: #049B81;
  width: 800px;
  text-indent: 25px;
  border-radius: 2px;
  font-size: 200%;

}

h1{
  font-size: 350%;


}


ul{
font-size: 24px;
list-style-type: none;

}
p {
  font-family: Helvetica, Verdana, Arial, "san serif";
  padding: auto;
  font-size: 27px;
  text-indent: 25px;


}

#content {
  background-color: #049B81;
  width: 2000px;
  min-height: 100px;
  border: 2px solid red;
  border-radius: 25px;
  font-size: 20px;
  align-content: flex-start;
   padding: 25px;

}


}
body {
  background-color: lightred;
  width: 80%
  margin: 75px;
  padding: 25px;
}

.homelink {
    text-align: right;
}
#button{
font-size: 20px;

}
