h1,h2{
  color: white;
  font-size: 50px;
  background-color: #049B81;
  width: 800px;
  text-indent: 10px;

  border-radius: 8px;

}


ul{
font-size: 24px;
list-style-type: none;

}
p {
  font-family: Helvetica, Verdana, Arial, "san serif";
  padding: auto;
  font-size: 27px;

}

#content {
  background-color: #049B81;
  width: 1500px;
  min-height: 100px;
  border: 2px solid red;
  border-radius: 5px;
  font-size: 20px;


}
body {
  background-color: lightred;
  width: 80%
  margin:45px;
}

.homelink {
    text-align: right;
}
